table{
    color: aquamarine;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
}

tr{
   height: 16.02vh;
    background-color: aliceblue;
    
}

td{
   width: 25vw;
    border: 1px solid aliceblue;
    
}

#inputBox{
    background-color: aliceblue;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: aquamarine;
    border: 0px;
}

.digitButton{
    background-color: darkgreen;
}

.operatorButton{
    background-color: darkgreen;
}

.ACButton{
    background-color: darkgreen;
}